language: python
sudo: false
cache:
  apt: true
  directories:
    - $HOME/.cache/pip

python:
  - "2.7"

addons:
  apt:
# only add the two lines below if you need wkhtmltopdf for your tests
#    sources:
#      - pov-wkhtmltopdf
#    Search your sources alias here:
#      https://github.com/travis-ci/apt-source-whitelist/blob/master/ubuntu.json
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml  # because pip installation is slow
      - python-simplejson
      - python-serial
      - python-yaml
      # for aeroo
      - cups
      - libcups2-dev
      # FE
      - python-dev
      - swig
      - libffi-dev
      - libssl-dev
      - python-m2crypto
      - python-httplib2
#     Search your packages here:
#       https://github.com/travis-ci/apt-package-whitelist/blob/master/ubuntu-precise
#      - wkhtmltopdf  # only add if needed and check the before_install section below

# set up an X server to run wkhtmltopdf.
#before_install:
#  - "export DISPLAY=:99.0"
#  - "sh -e /etc/init.d/xvfb start"

env:
  global:
  - VERSION="9.0" TESTS="0" LINT_CHECK="0" TRANSIFEX="0"
  # - EXCLUDE='sipreco_project'
  - TRANSIFEX_USER='jjscarafia'
  # exclude sipreco_project as it is only a dependencies module
  # to get secure, run 'travis encrypt TRANSIFEX_PASSWORD=[transifex_password] -r [github_repo]'
  # example of github repo 'ingadhoc/odoo-infrastructure'
  - secure: id4QDeYqCR1eHQQIu1oZb7ap6a+2dk59tymtitbLcBZ+cPjuHjZU6utIyt7wP3OoivN7pRmWsr6sHUd4tB5M5nP5PZI+JrzyagcQeTnw9PmGrOZV6GIXfZxLSpHqzw+ytd0IW6wlKDb9m0GudHs/8wsHClFY0IJwsj1GPQmYSL1TKNp/vH63e6YCHNMx2DP/SpCS9LFbES0wws2aAe5EFi46aUugyIvkNI/nNXrjjrLiLzJAY4eLymE0+b6bCINnGGMWvvPTvWpThOkzCZ9RFsZxgVYi7XQ//D4XYWzV1nGctph0KiGvRJz9B44Ig1wLGfFceK/9Y/qyTs8Y2aIN/DBPTQ3GWPQ121fA6cgLDQZOrU+RCVeO/1dTJMJxcAph8yKfbpUOgeqPApfv5JvjveHfyMzxJLoUF0VSFmyfqjNyPMFjUTJuVkx28Zxpk/d/paWe0I+04kEtJ4GJqSse6usPodloCm5+3d2VjNv2RN0uSjmUsF7sIEOBeZfCrxaaL8M3KrZXK2F2qLb4ZgkJ1S88llFqAA/RU13wT2b7FQH1D1pTwzxrrYS/wYPw8yHDKJeD0M99fDk+f9L20NFC/lez6UhziqtK7rp/rTfWMK8dKerDI13Ip/CFj//tGbNxJmIxoHH2gmwCeGQ1743EJNH3U3EOBFvGh0tLL7wJoyI=
  - TRANSIFEX_ORGANIZATION='adhoc'
  - TRANSIFEX_TEAM='46451'

  matrix:
  - LINT_CHECK="1"
  - TRANSIFEX="1"
  - TESTS="1" ODOO_REPO="odoo/odoo"
# either use the two lines above or the two below. Don't change the default if
# it's not necessary (it is only necessary if modules in your repository can't
# be installed in the same database. And you get a huge speed penalty in your
# tests)
  # - TESTS="1.0" ODOO_REPO="odoo/odoo" UNIT_TEST="1"

virtualenv:
  system_site_packages: true

install:
  - if [[ "${OCA_RUNBOT}" == "1" ]]; then locale-gen es_AR.UTF-8 && locale-gen es_ES.UTF-8; fi
  - if [[ "${OCA_RUNBOT}" == "1" ]]; then git clone -b 9.0 git@github.com:odoo/enterprise.git /root/dependencies/odoo-enterprise; fi
  # - if [[ "${OCA_RUNBOT}" == "1" ]]; then git clone -b 9.0 git@github.com:odoo/enterprise.git ${HOME}/odoo-enterprise; fi
  - git clone --depth=1 https://github.com/OCA/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly

script:
  - travis_run_tests

after_success:
  # enable aeroo docs conversion
  - if [[ "${OCA_RUNBOT}" == "1" ]]; then psql openerp_test -c "INSERT INTO ir_config_parameter (key, value) VALUES ('aeroo.docs_host', 'runbot.adhoc.com.ar'), ('aeroo.docs_port', '8989'), ('aeroo.docs_enabled', 'True')"; fi
  - travis_after_tests_success
